<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>



    <div class="row bg-primary">
        <div class="col-md-12">
            header
        </div>
    </div>
    </div>

    <div class="container-fluid">
        <div class="row bg-danger">
            <div class="col-md-12">
                banner
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row bg-danger">
            <div class="col-md-3 bg-info">
                1
            </div>

            <div class="col-md-3 bg-info">
                2
            </div>
            <div class="col-md-3 bg-info">
                3
            </div>
            <div class="col-md-3 bg-info">
                4
            </div>

        </div>

        <div class="row bg-danger">
            <div class="col-md-3 bg-info">
                5
            </div>
            <div class="col-md-3 bg-info">
                6
            </div>
            <div class="col-md-3 bg-info">
                7
            </div>
            <div class="col-md-3 bg-info">
                8
            </div>
        </div>
        <div class="row bg-danger">
            <div class="col-md-3 bg-info">
                9
            </div>

            <div class="col-md-3 bg-info">
                10
            </div>

            <div class="col-md-3 bg-info">
                11
            </div>

            <div class="col-md-3 bg-info">
                12
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 bg-danger">
                caja1
            </div>
            <div class="col-md-4 bg-dark">
                caja2
            </div>
            <div class="col-md-4 bg-warning">
                caja3
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row bg-primary">
            <div class="col-12">
                footer
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>